/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* codigo principal*/

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Phudu:wght@500&family=Poppins:wght@400;500;700&family=Roboto+Condensed&family=Roboto+Slab:wght@900&family=Ubuntu:ital,wght@0,700;1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Phudu:wght@500&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&family=Roboto+Slab:wght@900&family=Ubuntu:ital,wght@0,700;1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@700&family=Phudu:wght@500&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed&family=Roboto+Slab:wght@900&family=Ubuntu:ital,wght@0,700;1,500&display=swap');

body{
  background-color: #ffffff;
}
/* borda decoração */
.bordacabecalho{
    width: 100%;
    height: 41px;
    background-color: #4FBA9A;
  }

/* cabeçalho */
 .cabecalho{
    display: flex;
} 
.camposbotoes{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
   
}

.logo{
    width: 245px;
    height: 130px;
}
.pesq{
    width: 650px;
    height: 39px;
    border-radius: 30px;
    background: #4FBA9A;
    border: #4FBA9A;
  }
.lupa{
width: 50px;
height: 50px;
vertical-align: middle;
}
.usuario{
width: 100px;
height: 100px;
margin-top: -35px;

}
.sacola{
width: 100px;
height: 100px;
margin-top: -35px;
}
.manu_cabecalho{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

/* menu */
.topicos{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.categorias{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  

}
.topicos:hover{
  background-color: rgb(255, 255, 255);
}

/* apresentação dos banners */
.banner{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 400px;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
  }
  
  .prev-button, .next-button {
    margin: 10px;
    padding: 5px 10px;
  }

/* apresentação das roupas */
.img{
  width: 190px;
  height: 195px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}
.carrossel{
  margin-top: 50px;
}
.carrossel_roupas{
  display: flex;
  justify-content: space-around;
}
.roupa{
  border: 1px #008080 solid;
  border-radius: 5px;
}
p{
  font-family: 'Poppins', sans-serif;
  text-align:center;
  margin-top: 13px;
  font-size: 15px;
}
.tag{
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 28px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;

}
.parcela{
  color: #4FBA9A;
  margin-top: 13px;
}

/* rodape */
.rodape{
  margin-top: 50px;
  width: 100%;
height: 130px;
background-color: rgb(230, 248, 241);
display: flex;
justify-content: space-around;
}
.logo_rodape{
  width: 245px;
  height: 130px;
}
.logomarca{
  width: 245px;
  height: 130px;
}
.contatos{
  width: 245px;
  height: 130px;
}
  